/* Grid Container */
.project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1.5rem;
    margin-top: 2rem;
}

/* Card Styling */
.project-card-link {
    text-decoration: none !important;
    color: inherit !important;
}

.project-card {
    background: var(--md-default-bg-color);
    border: none !important;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
    transition: transform 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

.project-card:hover {
    transform: translateY(-8px);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.12);
}


.project-card-content {
    padding: 1.2rem;
}

.project-card-content h3 {
    margin: 0 0 0.5rem 0 !important;
    font-size: 1.1rem;
    color: var(--md-primary-fg-color);
}

.project-card-content p {
    font-size: 0.85rem;
    line-height: 1.5;
    margin: 0;
}

/* Container for the tags */
.tag-container {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    margin-bottom: 12px;
}

/* Individual Pill Style */
.tag-pill {
    background-color: var(--md-accent-fg-color--transparent);
    color: var(--md-accent-fg-color);
    border: 1px solid var(--md-accent-fg-color);
    padding: 2px 10px;
    border-radius: 20px;
    font-size: 0.5rem;
    font-weight: 600;
    letter-spacing: 0.5px;
}